<h1>All Circles</h1>

<p><a href = "<%=feed_url%>">News Feed</a></p>
<p><a href = "<%=posts_url%>">Posts</a></p>
<p><a href = "<%=new_friend_circle_url%>">Add Circle</a></p>

<%@circles.each_with_index do |circle, i|%>
	<p><%=i+1%>. <a href = "<%=friend_circle_url(circle)%>"><%=circle.name%></a>
	</p>
	<%circle.members.each_with_index do |member, j|%>
		<p>&nbsp&nbsp<%=j+1%>. <%=member.email%>
		</p>
	<%end%>
<%end%>

