<%message = (@post.persisted? ? "Update" : "Create")%>
<%method = (@post.persisted? ? "PUT" : "POST")%>
<%action = (@post.persisted? ? post_url(@post) : posts_url)%>

<h1><%=message%> Post</h1>
<form action="<%= action %>" method="post">
	<input type = "hidden" name = "authenticity_token"
		value = "<%=form_authenticity_token%>">
		<input type = "hidden" name = "_method" value = "<%=method%>">

  <p><label for="body">Post Body</label>
	  <input type="text" name="post[body]" id="body"
			value = "<%=@post.body%>">
	</p>

	<input type = "hidden" name = "post[circle_ids][]"
		value = "">
	<%@circles.each_with_index do |circle, i|%>
		<p><label for = "<%=i%>"><%=circle.name%>
		<input type = "checkbox"
			name = "post[circle_ids][]"
			value = "<%=circle.id%>"
			id = "<%=i%>"
			<%="checked" if @post.circles.include?(circle)%>>
		</p>
	<%end%>

	<%if @links.nil?%>
		<%3.times do |i|%>
			<p><label for = "<%=i%>">Link <%=i+1%>: </label>
				<input type = "text" name = "links[<%=i+1%>][url]" id = "<%=i%>">
			</p>
		<%end%>
	<%else%>
		<%@links.each_with_index do |link, i|%>
			<p><label for = "<%=i%>">Link <%=i+1%>: </label>
				<input type = "text" name = "links[<%=i+1%>][url]" id = "<%=i%>"
				value = "<%=link.url%>">
			</p>
		<%end%>
	<%end%>

	<input type = "hidden" name = "post[user_id]"
		value = "<%=current_user.id%>">

  <input type = "submit" value = "<%=message%> Post">
</form>
